.topbar {
	background-color: black;
	font-family: Helvetica;
}
#logo {
	color: #51f093;
	width: 50%;
	float: left;
	text-align: left;
}
#about {
	color: #32d37a;
	width: 50%;
	float: right;
	text-align: right;
}