{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
	<script>
		if (!localStorage.getItem('token')) { window.location.href = '/auth/' }
	</script>
	<script defer src="/static/JS/home.js"></script>
	<link rel="stylesheet" href="/static/CSS/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
{% endblock %}
{% block body %}
	<div class="main-container">
		<!-- <nav class="navbar">
			<div class="logo-container">
				<div>ToDO</div>
			</div>
			<div class="nav-links">
				<div class="nav-icon-container link-todo" title="ToDo">
					<i class="nav-icon fa fa-tasks"></i>
				</div>
			</div>
		</nav> -->
		<div class="todo-main-container">
			<div class="login-detail-container">
				<div id="greet-user">
					Hey there, 
				</div>
				<div class="logout">
					<button onclick="logOut()">Logout</button>
					<div class="logout-hl"></div>
				</div>
			</div>
			<div class="task-div-container">
				<div class="container-upcoming">
					<div class="heading">Upcoming</div>
					<hr>
					<div class="add-task-btn-container">
						<div class="add-task-btn" onclick="newTask()">
							<i class="fa fa-plus-circle"></i>
						</div>
					</div>
					<div class="task-list">
						<div class="no-date d00-00-0000"></div>
					</div>
				</div>
				<div class="container-overdue">
					<div class="heading">Overdue</div>
					<hr>
					<div class="task-list"></div>
				</div>
				<div class="container-completed">
					<div class="heading">Completed</div>
					<hr>
					<div class="task-list">
						<div class="no-date d00-00-0000"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
