{% extends "base.html" %}
{% block title %}Sign In{% endblock %}
{% block head %}
	<script>
		if (localStorage.getItem('username')) { window.location.replace('/home') }
	</script>
{% endblock %}
{% block body %}
<form method="POST" id="login">
	<fieldset style="width: 30%;">
		<label for="uname">Username:</label>
		<br>
		<input type="text" id="uname" name="username" placeholder="Username" required>
		<br>
		<label for="pwd">Password:</label>
		<br>
		<input type="password" id="pwd" name="password" placeholder="Password" required minlength="8">
		<br>
		<input type="submit" value="Login">
	</fieldset>
</form>
<br>
{{ message }}
<br>
<span>New User?</span><button onclick="window.location.href='./signup';">Register</button>
{% endblock %}
