{% extends "base.html" %}
{% block title %}Sign In{% endblock %}
{% block head %}
	<script>
		if (localStorage.getItem('email')) { window.location.href = '/home' }
	</script>
{% endblock %}
{% block body %}
	<form id="login">
		<fieldset style="width: 25%;">
			<label for="email">Email:</label>
			<br>
			<input type="email" id="email" placeholder="Email" required>
			<br>
			<label for="pwd">Password:</label>
			<br>
			<input type="password" id="pwd" placeholder="Password" required minlength="8">
			<br>
			<button id="loginBtn" type="button">Log In</button>
		</fieldset>
	</form>

	<script>
		document.getElementById('loginBtn').onclick = async () => {
			const form = {
				email: document.getElementById('email').value,
				password: document.getElementById('pwd').value
			};

			if (!/\S+@\S+\.\w+/.test(form.email)) {
				document.getElementById('message').innerText = 'Invalid email. Please try again.';
				return;
			} else if (form.password.length < 8) {
				document.getElementById('message').innerText = 'Invalid password. Please try again.';
				return;
			}

			const validate = await fetch('/auth/', {
				method: 'POST',
				body: JSON.stringify(form),
				headers: { 'Content-type': 'application/json' }
			});

			const response = await validate.json();
			if (response.pwdValid) {
				localStorage.setItem('email', form.email);
				window.location.replace('/home');
			} else if (response.userExists) {
				document.getElementById('message').innerText = 'Invalid password. Please try again.';
			} else {
				document.getElementById('message').innerText = 'User with this email does not exist. Please try again.';
			}
		};
	</script>
	<span id="message"></span>
	<br>
	<span>New User? </span><button onclick="window.location.href='./signup';">Register</button>
{% endblock %}
