{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% block head %}
	<script>
		if (localStorage.getItem('email')) { window.location.href = '/home' }
	</script>
{% endblock %}
{% block body %}
	<form id="signup">
		<fieldset style="width: 25%;">
			<label for="fName">First Name:</label>
			<br>			
			<input type="text" id="fName" placeholder="First Name" required>
			<br>			
			<label for="lName">Last Name:</label>
			<br>			
			<input type="text" id="lName" placeholder="Last Name" required>
			<br>			
			<label for="email">Email:</label>
			<br>			
			<input type="text" id="email" placeholder="ex@example.com" required>
			<br>			
			<label for="pwd">Password:</label>
			<br>			
			<input type="password" id="pwd" placeholder="Enter Password" required>
			<br>			
			<label for="pwd2">Confirm Password:</label>
			<br>			
			<input type="password" id="pwd2" placeholder="Confirm Password" required>
			<br>			
			<button id="signupBtn" type="button">Register</button>
		</fieldset>
	</form>

	<script>
		document.getElementById('signupBtn').onclick = async () => {
			if (document.getElementById('pwd').value !== document.getElementById('pwd2').value) {
				document.getElementById('message').innerText = 'Passwords don\'t match. Please try again.';
				return;
			}

			const form = {
				fName: document.getElementById('fName').value,
				lName: document.getElementById('lName').value,
				email: document.getElementById('email').value,
				password: document.getElementById('pwd').value
			};

			if (!/\S+@\S+\.\w+/.test(form.email)) {
				document.getElementById('message').innerText = 'Invalid email. Please try again.';
				return;
			} else if (form.password.length < 8) {
				document.getElementById('message').innerText = 'Password should be at least 8 characters long. Please try again.';
				return;
			} else if (fName === '' || lName === '') {
				document.getElementById('message').innerText = 'Name can\'t be empty. Please try again.';
			}

			const validate = await fetch('/auth/signup', {
				method: 'POST',
				body: JSON.stringify(form),
				headers: { 'Content-type': 'application/json' }
			});

			const response = await validate.json();
			if (response.userExists) {
				document.getElementById('message').innerText = 'Email already exists.';
			} else {
				window.location.replace('/auth/');
			}
		};
	</script>
	<span id="message"></span>
	<br>
	<span>Account already Exists? </span><button onclick="window.location.href = './';">Log In</button>
{% endblock %}
