{% extends "base.html" %}
{% block title %}Sign In{% endblock %}
{% block body %} 
<form action="#" method="POST" id="signin">
	<fieldset style="width: 30%;">
		<label for="uname">Username:</label>
		<br>
		<input type="text" id="uname" name="username" placeholder="Username" required>
		<br>
		<label for="pwd">Password:</label>
		<br>
		<input type="password" id="pwd" name="password" placeholder="Password" required minlength="8">
		<br>
		<input type="submit" value="Login">
	</fieldset>
</form>
<br>
New User? <button onclick="window.location.href='./signup';">Register</button>
{% endblock %}
