{% extends "base.html" %}
{% block title %}Sign In{% endblock %}
{% block body %} 
<form action="/auth/" method="POST" class="signin">
	<div>
		<label>Username</label>
		<input type="text" name="username" placeholder="username">
	</div>
	<div>
		<label>Password</label>
		<input type="password" name="password" placeholder="password">
	</div>
	<input type="submit" value="Login" name="login">
</form> 
New User? <input type="button" value="Register" onclick="window.location.href = './signup';">
{% endblock %}
